.card a {
    color: white;
    text-decoration: none;
}

.about{
    /* width: 70%;
    height: 70%;
      */
        
    
    /* padding: 20px 0;
    font-size: 50px; */

    /* color: white; */
    font-size: 1.7vw;
    /* font-family: "Rubik", sans-serif; */
    /* margin: 3rem; */
    text-transform: uppercase; 
    
}

.line {
    display: flex;
    justify-content: space-between;
}

.about:has(.fancy:hover) .word:not(.fancy:hover){
    opacity: 0.2;
}

.fancy > .letter {
    display: inline-block;
    transition: transform 350ms ease;
}

.fancy > .letter {
    transition-duration: 800ms;
}

.ruan:hover > .letter:nth-child(1){
    transform: translate(-60%, -20%) rotate(5deg);
}
.ruan:hover > .letter:nth-child(2){
    transform: translate(-30%, 20%) rotate(-10deg);
}
.ruan:hover > .letter:nth-child(3){
    transform: translate(0%, -10%) rotate(15deg);
}
.ruan:hover > .letter:nth-child(4){
    transform: translate(30%, 10%) rotate(-5deg);
}

.meireles:hover > .letter:nth-child(1){
    transform: translate(-30%, -30%) rotate(20deg);
}
.meireles:hover > .letter:nth-child(2){
    transform: translate(-40%, 20%) rotate(-15deg);
}
.meireles:hover > .letter:nth-child(3){
    transform: translate(-30%, -10%) rotate(10deg);
}
.meireles:hover > .letter:nth-child(4){
    transform: translate(-10%, 15%) rotate(-5deg);
}
.meireles:hover > .letter:nth-child(5){
    transform: translate(10%, -15%) rotate(-25deg);
}
.meireles:hover > .letter:nth-child(6){
    transform: translate(30%, 10%) rotate(5deg);
}
.meireles:hover > .letter:nth-child(7){
    transform: translate(40%, -20%) rotate(-10deg);
}
.meireles:hover > .letter:nth-child(8){
    transform: translate(50%, 30%) rotate(15deg);
}

.bianca:hover > .letter:nth-child(1){
    transform: translate(-50%, -20%) rotate(10deg);
}
.bianca:hover > .letter:nth-child(2){
    transform: translate(-25%, 20%) rotate(-15deg);
}
.bianca:hover > .letter:nth-child(3){
    transform: translate(0%, -10%) rotate(20deg);
}
.bianca:hover > .letter:nth-child(4){
    transform: translate(25%, 10%) rotate(-25deg);
}
.bianca:hover > .letter:nth-child(5){
    transform: translate(50%, -20%) rotate(15deg);
}
.bianca:hover > .letter:nth-child(6){
    transform: translate(75%, 20%) rotate(-10deg);
}


.livia:hover > .letter:nth-child(1){
    transform: translate(-60%, -20%) rotate(10deg);
}
.livia:hover > .letter:nth-child(2){
    transform: translate(-30%, 20%) rotate(-15deg);
}
.livia:hover > .letter:nth-child(3){
    transform: translate(0%, -10%) rotate(20deg);
}
.livia:hover > .letter:nth-child(4){
    transform: translate(30%, 10%) rotate(-15deg);
}
.livia:hover > .letter:nth-child(5){
    transform: translate(60%, -20%) rotate(10deg);
}

.ely:hover > .letter:nth-child(1){
    transform: translate(-60%, -20%) rotate(10deg);
}
.ely:hover > .letter:nth-child(2){
    transform: translate(-30%, 20%) rotate(-15deg);
}
.ely:hover > .letter:nth-child(3){
    transform: translate(0%, -10%) rotate(20deg);
}